
{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Projects</h1>
        <p class="lead text-body-secondary">I have been involved in projects related to Airport Design and Structural Design of Buildings.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div style="height: 400px;" class="card shadow-sm">
            <img src="/static/assets/img/rapid-exit-taxiway.png" class="card-img-top" alt="rapid-exit-taxiway">
            <div class="card-body">
              <h3>Rapid Exit Taxiway</h2>
              <p class="card-text">Design of Rapid Exit Taxiways at Tribhuvan International Airport.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/remote-apron_IAPP.png" class="card-img-top" alt="remote-apron_IAPP">            
            <div class="card-body">
              <h3>Remote Apron and IAPP</h3>
              <p class="card-text">Design of Remote Apron and Isolated Aircraft Parking Position.
                Taxiways M and N connecting the runway to the Apron.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/canopy.jpg" class="card-img-top" alt="Canopy Cover">            
            <div class="card-body">
              <h3>International Terminal Roof</h3>
              <p class="card-text">Tensile Steel Structure covering on top of Existing Roof of International Terminal of Tribhuvan International Airport.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/shree-hangar.png" class="card-img-top" alt="Shree Airlines Hangar">            
            <div class="card-body">
              <h3>Shree Airlines Hangar</h3>
              <p class="card-text">Conceptual/Architectural Design of Shree Airlines Hangar Building to accomodate Airbus A321 aircraft or two Mi-16 Helicopters.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/medi-pride.png" class="card-img-top" alt="Medi-Pride Hospital">
            <div class="card-body">
              <h3>Medi-Pride Hospital</h3>
              <p class="card-text">Steel Structural Design of 3-Storey Hospital Building. Included Member and Connection Design of Steel, Foundation Design and Shop Drawings.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="#" class="card-img-top" alt="Kushma Resort">            
            <div class="card-body">
              <h3>Kushma Resort</h3>
              <p class="card-text">Steel Structural Design of Semi-Circular Shaped 3-Storey Building and a 2-Storey Reception Building. Included Member and Connection Design of Steel, Foundation Design and Shop Drawings.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/la_school.png" class="card-img-top" alt="Little Angel's School">            
            <div class="card-body">
              <h3>Little Angel's School</h3>
              <p class="card-text">Structural Analysis, Design and Preparation of Shop Drawings of 6-Storey School Building.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/blitz_tower.png" class="card-img-top" alt="Blitz Tower">            
            <div class="card-body">
              <h3>Blitz Tower</h3>
              <p class="card-text">Structural Analysis, Design and Preparation of Shop Drawings of 7-Storey Mercantile Building.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/jawalakhel.jpg" class="card-img-top" alt="KSNS Headquarters">            
            <div class="card-body">
              <h3>KSNS Headquarters</h3>
              <p class="card-text">Structural Analysis, Design and Preparation of Shop Drawings of 6-Storey Corporate Headquarter Building.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}